<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Jua" rel="stylesheet">

<style>
body{ 
	text-align: center;
}
h1{
	font-family: 'Baloo Bhai', cursive;
    font-family: 'Jua', sans-serif;
	font-size : 50px;
	color: hotpink;
}
p{
	font-family: 'Baloo Bhai', cursive;
    font-family: 'Jua', sans-serif;
	font-size : 30px;
	color: hotpink;
}
a{
	font-family: 'Baloo Bhai', cursive;
    font-family: 'Jua', sans-serif;
	font-size : 20px;
	color: hotpink;
}
</style>

<h1 style="margin-top:50px">About</h1>
<br><br>
<textarea cols="50" rows="8" name="fulltext" style="color:hotpink; font-family: 'Baloo Bhai', cursive;font-family: 'Jua', sans-serif;font-size : 30px; outline-style:solid; outline-color: hotpink; outline-width: 5px; text-align: center;">


안녕하세요^^ 
이곳은 글자를 세 주는 멋쟁이 사자처럼의 워드카운트 홈페이지입니다.
여기에서 글자를 세세요!!
</textarea><br><br><br><br>

<a href="{%url 'home'%}">Home으로 돌아가기</a>